<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Oggetto_Entities::entities" title="Entities" translate="title" module="Oggetto_Entities" sortOrder="100"
             parent="Magento_Catalog::catalog" action="entities/entity"
             resource="Oggetto_Entities::entities"/>
    </menu>
</config>
